# === ENVIRONMENTS ===
venv/
.venv/
venv-comfy/

# === PYTHON CACHE ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# === IDE CONFIGS ===
.vscode/
.idea/
.vs/
.DS_Store

# === OUTPUT / MODELS ===
/output/
/input/
!/input/example.png
/models/
checkpoints/
*.safetensors
*.log

# === TEMP & CUSTOM ===
/temp/
/user/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
web_custom_versions/
extra_model_paths.yaml

# === TEST / DOC FILES ===
/tests-ui/data/object_info.json
openapi.yaml
filtered-openapi.yaml
uv.lock
.env

# === CUSTOM NODES ===
/custom_nodes/
!custom_nodes/example_node.py.example
